 @import "fonk";

*{
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}

 body{ 
 	background-color:$renk1;
 	min-height:100%;
 	font-family: sans-serif;
 	color:#000;
 	font-size:14px; 
 	overflow-x:hidden;
}

header{
	background-color:$renk2;
	width:100%;
	height:90px;
		nav{
		width:805px;
		height:45px;
		margin:0 auto;
		background: rgb(235,235,235); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(235,235,235,1) 0%, rgba(223,223,223,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(223,223,223,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(223,223,223,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(223,223,223,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(223,223,223,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(235,235,235,1) 0%,rgba(223,223,223,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
		border-bottom-left-radius:4px;
		border-bottom-right-radius:4px;
		-webkit-box-shadow: 0 8px 6px -8px black;
		-moz-box-shadow: 0 8px 6px -8px black;
		box-shadow: 0 8px 6px -8px black;
		}
			nav div#logo{
			float:left;
			margin:10px;
			}
			nav ul{
			float:right;
			}
			nav li{
			float:left;
			padding:15px;			
			position:relative;
			text-align:center;
			}
			nav li a{
			text-decoration:none;
			color:$color;
			font-size:14px;  
			font-family:$font1;
			color:$color;
			text-transform: uppercase;
			text-shadow: 0 1px rgba(255,255,255,.75);
			font-weight:200;
			}
			nav li:before{
			content:'';
			width:1px;
			height:100%;
			position:absolute;
			left:0;
			top:0;
			background-color:#f7f7f7;
			}
			nav li:after{
			content:'';
			width:1px;
			height:100%;
			position:absolute;
			left:1px;
			top:0;
			background-color:#d7d7d7;
			}
		div#kat{		
		width:805px;
		margin:0 auto;
		height:50px;
		position:relative;
		}	
		div#kat ul.kat{
		position:absolute;
		left:0;
		top:9px;
		}
		div#kat ul.kat li{
		font-family: $font2;
		font-size: 12px;
		color:$color1;
		text-shadow: 0 1px rgba(0,0,0,.21);
		float:left;
		padding:7px;
		position:relative;
		}
		div#kat ul.kat li a{
		font-size: 12px;
		color:$color1;
		text-decoration:none;
		}
		div#kat ul.kat li:after{
		content:'|';
		right:-3px;
		position:absolute;
		}

		div#kat ul.social{
		position:absolute;
		right:0;
		top:13px;
		}
		div#kat ul.social li{
		float:left;
		background: url('image/icon.png') no-repeat;
		width: 16px;
		height: 16px;
		margin:3px;

		}
		div#kat ul.social li a{
		text-indent:-999999;
		opacity:0;
		}
		div#kat ul.social li.skype{
		background-position: -4px -9px;
		}
		div#kat ul.social li.twitter{
		background-position:  -28px -9px;
		padding:5px;
		}
		div#kat ul.social li.facebook{
		background-position:-56px -9px;
		}
		div#kat ul.social li.dribbble{
		background-position: -76px -9px;
		}
		div#kat ul.social li.devi{
		background-position: -102px -10px;
		padding:5px;
		}
}

hr{
	margin:0;
	padding:0;
	width:100%;
	height:6px;
	float:left;
	background-image:url(image/hr.png);
	background-repeat:repeat;
}
section.twet{
	width:805px;
	height:67px;
	margin:0 auto;
	background-image:url(image/bird.png);
	background-repeat:no-repeat;
	background-position:0px 18px; 
	p{
	font-family:$font2;
	font-size: 13px;
	color: $color2;
	text-shadow: 0 1px #fff;
	float:left;
	margin-left:60px;
	margin-top:13px;
	width:498px;
	}
	span{
	float:right;
	padding:9px;
	border:dotted 2px #afafaf; 
	margin-right:15px;
	margin-top:7px;
	-webkit-box-shadow: 0 1px #fff;
	-moz-box-shadow: 0 1px #fff;
	box-shadow: 0 1px #fff; 
	}
	span a{
	color:$color3;
	font-family:$font2;
	font-weight:bold;
	text-decoration:none;
	}
}

section.content{ 
	width:805px;
	height:auto;
	margin:0 auto;
	background-color:$renk4; 	
	overflow:hidden;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.07), 0 1px rgba(0,0,0,.09);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.07), 0 1px rgba(0,0,0,.09);
	box-shadow: 0 0 5px rgba(0,0,0,.07), 0 1px rgba(0,0,0,.09);
	section.left{
		width:545px;
		height:auto;
		background-color:#fff;
		float:left;
		padding:15px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		}
	section.right{
		width:259px; 
		float:right;
		border-left:1px solid #e1e1e1;
	}
	section.right aside{
		position:relative;
	}
	section.right aside h1{
		font-family: $font2;
		font-size: 14px;
		font-weight: bold;
		color: #979797;
		margin-left:19px;
	}
	section.right aside h1.dr{
	color:$color4;
	}
	section.right aside hr{
	width:217px;
	height:1px;
	background-color:#dddddd;
	background-image:none;
	float:none;
	border:none;
	margin:10px auto;
	margin-bottom:15px;
	}
	section.right aside article.search{
	position:relative;
	}

	section.right aside article.search input[type=text]{
	-webkit-box-shadow: 0 1px rgba(255,255,255,.75), inset 0 0 5px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px rgba(255,255,255,.75), inset 0 0 5px rgba(0,0,0,.1);
	box-shadow: 0 1px rgba(255,255,255,.75), inset 0 0 5px rgba(0,0,0,.1);
	width: 170px;
	height: 33px;
	margin:17px;
	border:none;
	padding:4px;
	outline:0;
	background-color:#cecece;
	-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	font-size: 11px;
	color: #fff;
	font-family:'Arial';
	padding-right:45px;
	z-index:9989;
	float:left;
	}
	.searchbox::-webkit-input-placeholder {
    	color: #fff;
	}
	.searchbox:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: #fff;
	}
	.searchbox::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: #fff;
	}
	.searchbox:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color: #fff;
	}


	section.right aside article.search input[type=submit]{
		width: 39px;
		height: 20px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background-color: rgba(245,245,245,.5);
		-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.1), inset 0 1px #fff;
		-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.1), inset 0 1px #fff;
		box-shadow: 1px 1px 5px rgba(0,0,0,.1), inset 0 1px #fff;
		background-image: -webkit-linear-gradient(bottom, #e8e8e8, #f6f6f6);
		background-image: -moz-linear-gradient(bottom, #e8e8e8, #f6f6f6);
		background-image: -o-linear-gradient(bottom, #e8e8e8, #f6f6f6);
		background-image: -ms-linear-gradient(bottom, #e8e8e8, #f6f6f6);
		background-image: linear-gradient(to top, #e8e8e8, #f6f6f6);
		border:none;
		font-family:Arial;
		font-size: 11px;
		color: #717171;
		text-shadow: 0 1px rgba(255,255,255,.75);
		position:absolute;
		right:35px;
		top:25px;
		z-index:9999;
	}

	section.right aside article.asikat{

	}
	section.right aside article.asikat ul{
	margin-bottom:20px;
	}
	section.right aside article.asikat ul li{
		width: 217px;
		height: 24px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background-color: #5b5b5b;
		-webkit-box-shadow: 0 1px 5px rgba(24,24,25,.4), inset 0 1px rgba(255,255,255,.4), inset 0 0 5px rgba(255,255,255,.2);
		-moz-box-shadow: 0 1px 5px rgba(24,24,25,.4), inset 0 1px rgba(255,255,255,.4), inset 0 0 5px rgba(255,255,255,.2);
		box-shadow: 0 1px 5px rgba(24,24,25,.4), inset 0 1px rgba(255,255,255,.4), inset 0 0 5px rgba(255,255,255,.2);
		border: solid 1px rgba(67,67,67,.8);
		background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(255,255,255,.4));
		background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(255,255,255,.4));
		background-image: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(255,255,255,.4));
		background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0), rgba(255,255,255,.4));
		background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,.4));
		margin:10px auto;
		padding:4px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}

	section.right aside article.asikat ul li a{
		font-family:$font4;
		font-size: 12px;
		color: #ececec;
		text-shadow: 0 1px rgba(0,0,0,.35);
		text-decoration:none;
		float:left;
	}

	section.right aside article.asikat ul li span{
	float:right;
	font-size: 12px;
	color: #010101;
	text-shadow: 0 1px rgba(255,255,255,.36);
	font-family:$font2;
	font-weight:bold;
	}
	section.right aside article.shots{
		
	}
	section.right aside article.shots ul{
	margin-left:15px;
	}

	section.right aside article.shots ul li{
	float:left;
	margin:6px;
	width: 99px;
	height: 80px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.11), 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.11), 0 1px rgba(0,0,0,.05);
	box-shadow: 0 0 5px rgba(0,0,0,.11), 0 1px rgba(0,0,0,.05);
	}

	section.right aside article.shots ul li img{
		padding:6px;
	}
	section.right aside article.reklam{

	}

	section.right aside article.reklam div.out{
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.1), inset 0 1px #fff;
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.1), inset 0 1px #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,.1), inset 0 1px #fff;
	border: solid 1px #c9c9c9;
	background-image: -webkit-linear-gradient(bottom, #e8e8e8, #f6f6f6);
	background-image: -moz-linear-gradient(bottom, #e8e8e8, #f6f6f6);
	background-image: -o-linear-gradient(bottom, #e8e8e8, #f6f6f6);
	background-image: -ms-linear-gradient(bottom, #e8e8e8, #f6f6f6);
	background-image: linear-gradient(to top, #e8e8e8, #f6f6f6);
	width: 215px;
	height: 65px;
	margin:15px auto;
	}

	section.right aside article.reklam div.in{
	width: 204px;
	height: 47px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgba(255,255,255,0);
	-webkit-box-shadow: 0 1px rgba(255,255,255,.9), inset 0 3px 4px rgba(0,0,0,.12);
	-moz-box-shadow: 0 1px rgba(255,255,255,.9), inset 0 3px 4px rgba(0,0,0,.12);
	box-shadow: 0 1px rgba(255,255,255,.9), inset 0 3px 4px rgba(0,0,0,.12);
	border: solid 1px rgba(0,0,0,0.3);
	background-image: -webkit-linear-gradient(bottom, #dbdbdb, #b3b3b3);
	background-image: -moz-linear-gradient(bottom, #dbdbdb, #b3b3b3);
	background-image: -o-linear-gradient(bottom, #dbdbdb, #b3b3b3);
	background-image: -ms-linear-gradient(bottom, #dbdbdb, #b3b3b3);
	background-image: linear-gradient(to top, #dbdbdb, #b3b3b3);
	margin:8px auto;
	}

	section.right aside article.reklam div.in p{
	font-family: $font2;
	font-size: 16px;
	color: #4d4d4d;
	text-shadow: 0 1px #fff;
	text-align:center;
	margin-top:15px;
	}


	section.left article.post{
	position:relative;
	margin-top:30px;
	}
	section.left article.post div#top{
	width:100%;
	height:30px;
	}
	section.left article.post div#top span{
	width:70px; 
	position:relative;
	float:left;
	}

	section.left article.post div#top span b{
	float:left;
	font-family: $font2;
	font-size: 30px;
	font-weight:bold;
	color: #737373;
	}

	section.left article.post div#top span i{
	float:right;
	font-size: 13px;
	color: #9b9b9b;
	font-family:$font2;
	}
	section.left article.post div#top span:after{
	content:'';
	width:1px;
	height:100%;
	background-color:#d7d7d7;
	position:absolute;
	right:-10px;
	top:-1px;
	}
	section.left article.post div#top h1{
	float:left;
	font-size: 14px;
	color: #707070;
	font-family:$font2;
	margin-left:25px;
	font-weight:400;
	margin-top:7px;
	}

	section.left article.post div#top hr{
	border:none;
	background-image:none;
	background-color:#e5e5e5;
	height:1px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:0px;
	width:100%;
	}
	section.left article.post div#ops,section.left article.single div#ops,{
	width:100%;
	height:30px;
	background-image:url(image/folder.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	margin-top:10px;
	}

	section.left article.post div#ops p,section.left article.single div#ops p{
	margin-left:35px;
	margin-top:8px;
	font-family: $font2;
	font-size: 13px; 
	color:#a4a4a4; 
	}
	section.left article.post div#ops p b,section.left article.single div#ops p b{
	font-family: $font2;
	font-size: 13px;
	text-shadow: 0 1px #fff;
	color:#707070;
	font-weight:bold;
	}

	section.left article.post div#reyiz,section.left article.single div#reyiz{
	width:100%;
	margin-top:4px;
	}
	section.left article.post div#reyiz div.cover,section.left article.single div#reyiz div.cover{
	width:492px;
	height:73px;
	background-size:cover;
	margin-left:10px;
	}
	section.left article.post div#reyiz p,section.left article.single div#reyiz p{
	margin-left:10px;
	padding-right:10px;
	margin-top:8px;
	font-family: $font4;
	font-size: 12px;
	color: #c4c4c4;
	}

	section.left article.post hr{
	border:none;
	background-image:none;
	background-color:#e5e5e5;
	height:1px;
	margin-top:30px;
	margin-bottom:5px;
	margin-left:-15px;
	width:106%;
	z-index:9989;
	}

	section.left article.post div.button{
	float:left;
	padding:8px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	background-color: #434343;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.21), inset 0 1px rgba(255,255,255,.48);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.21), inset 0 1px rgba(255,255,255,.48);
	box-shadow: 0 2px 5px rgba(0,0,0,.21), inset 0 1px rgba(255,255,255,.48);
	border: solid 1px #f5b74e;
	background-image: -webkit-linear-gradient(bottom, #febb49, #fed86f);
	background-image: -moz-linear-gradient(bottom, #febb49, #fed86f);
	background-image: -o-linear-gradient(bottom, #febb49, #fed86f);
	background-image: -ms-linear-gradient(bottom, #febb49, #fed86f);
	background-image: linear-gradient(to top, #febb49, #fed86f);
	position:absolute;
	bottom:-7px;
	left:12px;
	z-index:9999;
	}

	section.left article.post div.button:active{
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	background-color: #434343;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.21), inset 0 1px rgba(255,255,255,.48);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.21), inset 0 1px rgba(255,255,255,.48);
	box-shadow: 0 2px 5px rgba(0,0,0,.21), inset 0 1px rgba(255,255,255,.48);
	border: solid 1px #f2ca87;
	background-image: -webkit-linear-gradient(top, #febb49, #fed86f);
	background-image: -moz-linear-gradient(top, #febb49, #fed86f);
	background-image: -o-linear-gradient(top, #febb49, #fed86f);
	background-image: -ms-linear-gradient(top, #febb49, #fed86f);
	background-image: linear-gradient(to bottom, #febb49, #fed86f);
	}
	section.left article.post div.button a{
	font-family: $font2;
	font-size: 13px;
	color: #9c7001;
	text-decoration:none;
	font-weight:700;
	text-shadow: 0 1px rgba(255,255,255,.2);
	}
	section.left article.post div.button a:hover,section.left article.post div.button a:active{
	color: #fff;
	text-shadow: 0 1px rgba(117,117,117,.2);
	}
	section.left article.sayfa{ 
	width:100%;
	height:70px;
	}
	section.left article.sayfa ul{
	margin:20px;
	}
	section.left article.sayfa ul li{
	float:left;
	width: 26px;
	height: 26px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #777;
	margin:6px; 
	position:relative;
	}

	section.left article.sayfa ul li.active{
	float:left;
	width: 26px;
	height: 26px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #4e4e4e;
	margin:6px; 
	position:relative;
	}

	section.left article.sayfa ul li a{
	font-family: $font2;
	font-size: 14px;
	color: #fffefe;
	font-weight:bold;
	text-decoration:none;
	position:absolute;
	top:5px;
	left:10px;
	}

	section.left article.single{
	width:100%;
	height:auto;
	min-height:100%;
	}

	section.left article.single h1{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $font2;
	font-size: 14px;
	color: #707070;
	position:relative;
	}

	section.left article.single hr{
	border:none;
	background-image:none;
	background-color:#e5e5e5;
	height:1px;
	margin-top:10px;
	margin-bottom:10px;
	}


	section.left article.single div.etiket{
	width:100%;
	height:40px;
	}

	section.left article.single div.etiket b{
	font-family: $font2;
	font-size: 12px;
	padding:5px;
	color: #747474;
	float:left;
	text-shadow: 0 1px #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f5f5f5;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.1), inset 0 1px #fff;
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.1), inset 0 1px #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,.1), inset 0 1px #fff;
	border: solid 1px #e2e2e2;
	background-image: -webkit-linear-gradient(bottom, #e8e8e8, #f6f6f6);
	background-image: -moz-linear-gradient(bottom, #e8e8e8, #f6f6f6);
	background-image: -o-linear-gradient(bottom, #e8e8e8, #f6f6f6);
	background-image: -ms-linear-gradient(bottom, #e8e8e8, #f6f6f6);
	background-image: linear-gradient(to top, #e8e8e8, #f6f6f6);
	}

	section.left article.single div.etiket p{
	float:left;
	width:360px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $font2;
	font-size: 13px;
	color: #b3b3b3;
	position:relative;
	margin-left:7px;
	margin-top:5px;
	}

	section.left article.single div.yorumlar{
	width:100%;
	height:auto;
	position:relative;
	}
	section.left article.single div.yorumlar:before{
	content:'';
	width:106%;
	height:40px;
	margin-left:-15px;
	margin-top:15px;
	background: rgb(247,247,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 1%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(247,247,247,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 1%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
	border-top:solid 1px #eeeef0;
	border-bottom:solid 1px #f9f9fa;
	}

	section.left article.single div.yorumlar small{
	position:absolute;
	top:15px;
	left:10px;
	font-family:$font2;
	font-size: 12px; 
	color: #9e9e9e;
	text-shadow: 0 1px #fff;
	}

	section.left article.single div.yorumlar small b{
	color: #6d6d6d;
	font-size: 12px;	
	font-family:$font2; 
	font-weight: bold;
	padding:2px;
	}

	section.left article.single div.yorumlar div.yorum{
	width:100%;
	height:auto; 
	margin-top:10px;
	margin-bottom:10px;
	}

	section.left article.single div.yorumlar div.yorum div.yavatar{
	width: 41px;
	height: 41px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.36);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.36);
	box-shadow: inset 0 0 5px rgba(0,0,0,.36);	
	background-size:cover;
	margin:14px;
	float:left;
	}
	
	section.left article.single div.yorumlar div.yorum h1 b{
	font-size: 14px;
	color: #616161;
	font-family:$font2;
	font-weight:bold;
	}

	section.left article.single div.yorumlar div.yorum h1{
	margin-top:15px;
	}

	section.left article.single div.yorumlar div.yorum p{
	margin-top:5px;
	float:left;
	font-family: $font4;
	font-size: 12px;
	color: #bdbdbd;
	width:410px;
	}

	section.left article.single div.yorumlar hr{
	border:none;
	background-image:none;
	background-color:#e5e5e5;
	height:1px;
	margin-top:10px;
	margin-bottom:10px;
	}

	section.left article.single div.yorumlar h3{
	font-family: $font2;
	font-weight:300;
	font-size: 18px;
	color: #7f7f7f;
	padding:5px;
	} 

	section.left article.single div.yorumlar div.yorumyap{
	width:100%;
	height:auto;
	}

	section.left article.single div.yorumlar div.yorumyap input[type=text],section.left article.single div.yorumlar div.yorumyap input[type=email],section.left article.single div.yorumlar div.yorumyap input[type=url]{ 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f5f5f5;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.58);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.58);
	box-shadow: inset 0 1px rgba(255,255,255,.58);
	border: solid 1px #e1e1e1;
	padding:8px;
	margin:5px;
	outline:0;
	font-family: $font2;
	font-size: 14px;
	color: #7f7f7f;
	}

	section.left article.single div.yorumlar div.yorumyap textarea{
	float:right;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f5f5f5;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.58);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.58);
	box-shadow: inset 0 1px rgba(255,255,255,.58);
	border: solid 1px #e1e1e1;
	outline:0;
	resize:none;
	width:316px;
	height:180px;	
	font-family: $font2;
	font-size: 14px;
	color: #7f7f7f;
	padding:10px;
	}

	.yinput::-webkit-input-placeholder {
    	
	color: #7f7f7f;
	}
	.yinput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   
	color: #7f7f7f;
	}
	.yinput::-moz-placeholder { /* Mozilla Firefox 19+ */
	   
	color: #7f7f7f;
	}
	.yinput:-ms-input-placeholder { /* Internet Explorer 10+ */
	   
	color: #7f7f7f;
	}

	section.left article.single div.yorumlar div.yorumyap input[type=submit]{
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.36);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.36);
	box-shadow: 0 0 5px rgba(0,0,0,.36);
	background: rgb(80,147,219); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(80,147,219,1) 0%, rgba(80,147,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,147,219,1)), color-stop(100%,rgba(80,147,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(80,147,219,1) 0%,rgba(80,147,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(80,147,219,1) 0%,rgba(80,147,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(80,147,219,1) 0%,rgba(80,147,219,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(80,147,219,1) 0%,rgba(80,147,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5093db', endColorstr='#5093db',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:8px;
	font-family: $font2;
	font-size: 15px;
	color: #fff;
	font-weight:500;
	text-shadow: 0 1px rgba(0,0,0,.18);
	width: 169px;
	cursor:pointer;	
	border: solid 1px #2f6fa9;
	}

}

footer{
	width:805px;
	height:130px; 
	margin:0 auto;

	div{
		width:100%;
		height:50%;
		border-bottom:dotted 2px #bebebe;
	}
	div img{
	margin:20px;
	float:left;
	}
	div p{
	float:right;
	margin-top:25px; 
	font-family: $font2;
	font-size: 12px;
	color: #989898;
	}

	div p a{
	color: #9c9b9b;	
	text-shadow: 0 1px #fff;
	font-size: 13px;
	}
}

